.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  /* .card button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card button:hover {
    background-color: #0056b3;
  }
   */